<%= form_tag '/core/import5',:id=>'import_form5',:multipart=>true do %>
<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center">
<tr><td bgcolor="#DDE3EC">
<table border="0" cellspacing="1" cellpadding="4" width="100%">
<tr class="header">
<td colspan="2">首都师范大学大学生创新性实验计划</td>
</tr>

<tr>
<td bgcolor="#F8F9FC" width="40%"><input type="radio" name="from" onclick="$('#form_datafile').attr('disabled',true);$('#filepath_id').removeAttr('disabled')" value="server" checked >从服务器(/data/chuangyexingdong):</td>
<td bgcolor="#FFFFFF" width="60%">
	<select name="filepath" id="filepath_id">
		<% Dir.glob("#{RAILS_ROOT}/data/chuangyexingdong/*.xls").each do |file| %>
			<option value="<%= file %>"><%= file %></option>
		<% end %>
	</select>
	<%=link_to '全部导入',delayed_jobs_path%>
</td></tr>


</table></td></tr></table><br>
<center><%= submit_tag('提 交',:id=>'import_submit5',:onclick=>"$('#import_submit5').attr('disabled',true);$('#import_submit5').val('导入中，请稍候...');$('#import_form5').submit();return false") %></center>
<% end %>

<%= form_tag '/core/import6',:id=>'import_form6',:multipart=>true do %>
<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center">
<tr><td bgcolor="#DDE3EC">
<table border="0" cellspacing="1" cellpadding="4" width="100%">
<tr class="header">
<td colspan="2">本科生科研立项</td>
</tr>

<tr>
<td bgcolor="#F8F9FC" width="40%"><input type="radio" name="from" onclick="$('#form_datafile').attr('disabled',true);$('#filepath_id').removeAttr('disabled')" value="server" checked >从服务器(/data/keyanlixiang):</td>
<td bgcolor="#FFFFFF" width="60%">
	<select name="filepath" id="filepath_id">
		<% Dir.glob("#{RAILS_ROOT}/data/keyanlixiang/*.xls").each do |file| %>
			<option value="<%= file %>"><%= file %></option>
		<% end %>
	</select>
	<%=link_to '全部导入',delayed_jobs_path%>
</td></tr>


</table></td></tr></table><br>
<center><%= submit_tag('提 交',:id=>'import_submit6',:onclick=>"$('#import_submit6').attr('disabled',true);$('#import_submit6').val('导入中，请稍候...');$('#import_form6').submit();return false") %></center>
<% end %>

<%= form_tag '/core/import7',:id=>'import_form7',:multipart=>true do %>
<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center">
<tr><td bgcolor="#DDE3EC">
<table border="0" cellspacing="1" cellpadding="4" width="100%">
<tr class="header">
<td colspan="2">开放基金</td>
</tr>

<tr>
<td bgcolor="#F8F9FC" width="40%"><input type="radio" name="from" onclick="$('#form_datafile').attr('disabled',true);$('#filepath_id').removeAttr('disabled')" value="server" checked >从服务器(/data/kaifangjijin):</td>
<td bgcolor="#FFFFFF" width="60%">
	<select name="filepath" id="filepath_id">
		<% Dir.glob("#{RAILS_ROOT}/data/kaifangjijin/*.xls").each do |file| %>
			<option value="<%= file %>"><%= file %></option>
		<% end %>
	</select>
	<%=link_to '全部导入',delayed_jobs_path%>
</td></tr>


</table></td></tr></table><br>
<center><%= submit_tag('提 交',:id=>'import_submit7',:onclick=>"$('#import_submit7').attr('disabled',true);$('#import_submit7').val('导入中，请稍候...');$('#import_form7').submit();return false") %></center>
<% end %>

<br>
<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center"><tr><td bgcolor="#DDE3EC"><table border="0" cellspacing="1" cellpadding="4" width="100%" class="smalltxt"><tr class="header"><td colspan="99">导入日志</td></tr>
<tr align="center" class="category">
	<td width="100">类别</td>
	<td width="160">时间</td>
	<td width="100">操作人</td>
	<td>创建学生数</td>
	<td>更新学生数</td>
	<td width="65">结果</td>
	<td width="65">删除</td>
</tr>
<% Import5Log.order('created_at DESC').each do |importLog| %>
<tr align="center">
	<td bgcolor="#FFFFFF">大学生创新</td>
		<td bgcolor="#FFFFFF"><%= importLog.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
		<td bgcolor="#F8F9FC"><% if importLog.user %> <%= link_to importLog.user.name,importLog.user %> <% elsif importLog.user_id==0 %> 计划任务 <% end %></td>
		<td bgcolor="#FFFFFF"><%= importLog.students_created %></td>
		<td bgcolor="#F8F9FC"><%= importLog.students_updated %></td>
	<td bgcolor="#FFFFFF"><% if importLog.erroneous and !importLog.user_id==0 %> <span style="color:red">失败</span> <% else %> <span style="color:green">成功</span> <% end %></td>
	<td bgcolor="#FFFFFF"><%= link_to '删除', importLog, :confirm => '确定删除此日志？', :method => :delete %></td>


</tr>
<% end %>
<% Import6Log.order('created_at DESC').each do |importLog| %>
<tr align="center">
	<td bgcolor="#FFFFFF">科研立项</td>
		<td bgcolor="#FFFFFF"><%= importLog.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
		<td bgcolor="#F8F9FC"><% if importLog.user %> <%= link_to importLog.user.name,importLog.user %> <% elsif importLog.user_id==0 %> 计划任务 <% end %></td>
		<td bgcolor="#FFFFFF"><%= importLog.students_created %></td>
		<td bgcolor="#F8F9FC"><%= importLog.students_updated %></td>
	<td bgcolor="#FFFFFF"><% if importLog.erroneous and !importLog.user_id==0 %> <span style="color:red">失败</span> <% else %> <span style="color:green">成功</span> <% end %></td>
	<td bgcolor="#FFFFFF"><%= link_to '删除', importLog, :confirm => '确定删除此日志？', :method => :delete %></td>


</tr>
<% end %>
<% Import7Log.order('created_at DESC').each do |importLog| %>
<tr align="center">
	<td bgcolor="#FFFFFF">开放基金</td>
		<td bgcolor="#FFFFFF"><%= importLog.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
		<td bgcolor="#F8F9FC"><% if importLog.user %> <%= link_to importLog.user.name,importLog.user %> <% elsif importLog.user_id==0 %> 计划任务 <% end %></td>
		<td bgcolor="#FFFFFF"><%= importLog.students_created %></td>
		<td bgcolor="#F8F9FC"><%= importLog.students_updated %></td>
	<td bgcolor="#FFFFFF"><% if importLog.erroneous and !importLog.user_id==0 %> <span style="color:red">失败</span> <% else %> <span style="color:green">成功</span> <% end %></td>
	<td bgcolor="#FFFFFF"><%= link_to '删除', importLog, :confirm => '确定删除此日志？', :method => :delete %></td>


</tr>
<% end %>
</table></td></tr></table>

