<style>
form.button_to{
display:inline
}
</style>


<table cellspacing="0" cellpadding="0" border="0" width="90%" align="center"><tr><td bgcolor="#DDE3EC"><table border="0" cellspacing="1" cellpadding="4" width="100%"><tr class="header"><td>技巧提示</td></tr>
<tr bgcolor="#F8F9FC"><td style="padding-top:15px;padding-bottom:8px">
<ul><li>您可以在此页面监视和执行系统定期执行的任务</ul>
<ul><li>修改任务周期请到系统设置页面。</ul>
</td></tr></table></td></tr></table>
<br>



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<font class="mediumtxt"><br>
		
		
		
	<table width="90%" cellspacing="0" cellpadding="0" border="0" align="center"><tbody>
		
		<tr><td bgcolor="#dde3ec"><table width="100%" cellspacing="1" cellpadding="4" border="0" class="smalltxt"><tbody><tr class="header"><td colspan="99">计划任务列表</td></tr>
	<tr align="center" class="category">
		<td width="20">ID</td>
		<td>描述</td>
		<td width="70">优先级</td>
		<td width="150">任务周期</td>
		<td colspan="3">操作</td>
	</tr>
		<% @delayed_jobs.each do |delayed_job| %>
		  <tr align="center" class="pointable">
				<td bgcolor="#f8f9fc"><%= delayed_job.id %></td>
				<td bgcolor="#ffffff" onMouseOver="this.style.backgroundColor='#F8F9FC'"  onMouseOut="this.style.backgroundColor='#FFFFFF'"><%= delayed_job.title %></td>
				<td bgcolor="#f8f9fc"><%= delayed_job.priority %></td>
				<td bgcolor="#f8f9fc"><%= delayed_job.schedule_text %></td>
		    <td bgcolor="#f8f9fc" width="20" style="vertical-align:center"><%= button_to '立即执行'.html_safe, "/execute/#{delayed_job.id}", :confirm => '确认执行吗?',:method=>:POST %></td>
		    <td bgcolor="#f8f9fc" width="20"><%= link_to '<img src="/images/b_drop.png"/>'.html_safe, delayed_job, :confirm => '确认删除吗?', :method => :delete %></td>
		  </tr>
		<% end %>
		</tbody></table></td></tr>
	</tbody></table></font>
	<table width="99%" cellspacing="0" cellpadding="0" align="center">
	<tbody><tr>
	</tr></tbody></table>
	
</table>


